<% if(locals.featuredProject) { %>
<section id="featuredProjectSection" class="py-4 py-xl-5">
    <div class="container">
        <div class="card-minimal">
          <img src="<%= featuredProject.imageCover.signedUrl%>" alt="<%= featuredProject.slug %>">
          <div class="card-minimal-body">
            <h3><%= featuredProject.name %></h3>
             <p>
                <%= featuredProject.richDescription.slice(0, 200) %>
                <%= featuredProject.richDescription.length > 200 ? '...' : '' %>
            </p>
            <div>
                <a href="/events/<%= featuredProject.slug %>">Read More</a>
            </div>
          </div>
        </div>
    </div>
</section>
<% } %>
</div>
<div class="project-list">
  <div class="container">
    <h1 class="fs-4 text-slate-900"><%= featuredProject ? 'Other Projects' : 'Projects' %></h1>
    <div id="project-list-container" class="row gx-4 gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3">
      <h2 class="text-slate-700 fs-6">Projects...</h2>
    </div>
    <nav style="margin-top: 12px;">
      <ul id="project-list-pagination" class="pagination">
        <li class="page-item">
            <a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>