<% const monthName = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

<div class="container" id="type-single-container" data-slug="<%= project.slug %>" data-typeid="<%= project._id %>" data-userid="<%= locals.user ? locals.user._id : ''%>" data-type="projects">
<section class="py-2">
  <% let month = project.date && new Date(project.date).getMonth();
      month = monthName[month];
  %>
  <% const year = project.date && new Date(project.date).getFullYear(); %>
  <% const finalDate = `${month} ${year}` %>
  <h1><%= project.name %><%= year ? ` [${finalDate}]` : null %></h1>
    <% if(project.imageCover?.signedUrl) {%>
    <img class="object-fit-cover landscape-image" src="<%= project.imageCover.signedUrl %>" alt="<%= project.name %>" />
    <% } %>
</section>
<section class="py-2">
  <p><span class="text-break" style="color: rgb(0, 0, 0);"><%= project.richDescription %></span></p>
  <p><span class="text-break" style="color: rgb(0, 0, 0);"><%- project.description.replace(/\n/g, '<br>') %></span></p>
</section>
<div id="carousel-1" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner">
    <% if (project?.images && project.images.length > 0) { %>
      <% project.images.forEach((image, index) => { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <img class="object-fit-cover w-100 d-block landscape-image" src="<%= image.signedUrl %>" alt="Slide Image" />
        </div>
      <% }) %>
    <% } %>
  </div>
  <div>
    <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <div class="carousel-indicators">
    <% if (project?.images && project.images.length > 0) { %>
      <% project.images.forEach((image, index) => { %>
        <button
          type="button"
          data-bs-target="#carousel-1"
          data-bs-slide-to="<%= index %>"
          class="<%= index === 0 ? 'active' : '' %>"
        ></button>
      <% }) %>
    <% } %>
  </div>
</div>
<section style="padding-bottom: 20px;padding-top: 20px;">
  <h2 class="text-slate-900 fs-4 fw-semibold">Forum</h2>
  <div id="forum-messages">
    <div>
      <div class="d-flex flex-column justify-content-between flex-sm-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row">
        <p class="text-break" style="width: 80%;">User 1: Some comment!</p>
        <p>Date</p>
      </div>
    </div>
  </div>
  <% if(locals.user) { %>
    <div class="d-flex justify-content-between" style="padding: 0px;padding-top: 10px;padding-bottom: 10px;">
      <form id="form-message" class="d-flex justify-content-between" style="width: 100%;">
          <input id="message" class="form-control" type="text" name="comment" placeholder="Leave a comment" style="width: 80%;" />
        <button id="submit-message-btn" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  <% } %>
  <nav>
    <ul id="comment-pagination-type" class="pagination">
      <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
    </ul>
  </nav>
</section>
</div>