<!--                MODAL                -->
<div class="modal fade" id="modalDashboard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDashboard" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="createLabel">Create</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="createDashboardForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required />
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required />
                    </div>
                    <div class="mb-3">
                        <label for="richDescription" class="form-label">Summary</label>
                        <textarea class="form-control" id="richDescription" name="richDescription" required ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" required ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="imageCover" class="form-label">Image Cover</label>
                        <input class="form-control" type="file" id="imageCover" name="imageCover">
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Images</label>
                        <input class="form-control" type="file" id="images" name="images" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="saveBtnDashboard" type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteDashboard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteDashboard" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="createLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteDashboardForm">
                <div class="modal-body">
                    <p>Are you sure you want to delete this <span id="title" style="font-weight: 600;"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="deleteBtnDashboard" type="submit" class="btn btn-danger">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
        <div class="col" style="padding: 12px;">
            <div style="border-style: solid;border-radius: 19px;padding: 10px;">

                <% if(featuredProject) { %>
                    <h2>Featured Project</h2>
                    <p><%= featuredProject.name %></p>
                    <img src="<%= featuredProject.imageCoverUrl %>" class="fit-cover" style="width: 100%;height: 210px;border-radius: 10px;" />
                    <div class="d-flex justify-content-end mt-2 gap-2">
                        <a class="btn btn-primary" type="button" href="project/<%= featuredProject.slug %>">View</a>
                        <a class="btn btn-warning" type="button" href="project/<%= featuredProject.slug %>/edit?type=project">Edit</a>
                    </div>
                <% } else { %>
                    <h2>No Featured Project</h2>
                <% } %>
            </div>
        </div>
        <div class="col" style="padding: 12px;">
            <div style="border-style: solid;border-radius: 19px;padding: 10px;">
                <%if(featuredEvent) { %>
                    <h2>Featured Event</h2>
                    <p>Title of Event</p>
                    <img src="<%= featuredEvent.imageCoverUrl %>" class="fit-cover" style="width: 100%;height: 210px;border-radius: 10px;" />
                    <div class="d-flex justify-content-end mt-2 gap-2">
                        <a class="btn btn-primary" type="button" href="event/<%= featuredEvent.slug %>">View</a>
                        <a class="btn btn-warning" type="button" href="event/<%= featuredEvent.slug %>/edit?type=event">Edit</a>
                    </div>
                <% } else { %>
                    <h2>No Featured Event</h2>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!--                PROJECTS                -->
<div class="m-2">
    <div id="admin-project-container" class="container" style="border-style: solid;padding: 12px;">
        <div class="d-flex justify-content-between">
            <h3>All Projects</h3>
            <button id="project-create-button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDashboard">Create Project</button>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-center flex-sm-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row">
            <div class="d-flex my-2 gap-2">
                <input id="searchInputProjectAdmin" type="search" placeholder="project-slug" />
                <button id="searchButtonProjectAdmin" class="btn btn-primary" type="button">Search Project</button>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div>
                    <label class="form-label">Sort by: </label>
                    <select>
                        <optgroup label="Sort">
                            <option value="12">Date</option>
                            <option value="13">Title</option>
                        </optgroup>
                    </select>
                </div>
                <div>
                    <label class="form-label">Show item: </label>
                    <select>
                        <optgroup label="This is a group">
                            <option value="12" selected>10</option>
                            <option value="13">20</option>
                            <option value="50">50</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="border-style: solid;margin-top: 0px;">
            <table class="table">
                <thead>
                <tr>
                    <th class="custom-width">Title</th>
                    <th class="custom-width">Date</th>
                    <th class="actions-column">Actions</th>
                </tr>
                </thead>
                <tbody id="admin-project-tablebody-list">
                <tr>
                    <td>Vaccine Village</td>
                    <td>January 25, 2003</td>
                    <td class="d-flex gap-2">
                        <button class="btn btn-primary" type="button">View</button>
                        <button class="btn btn-warning" type="button">Edit</button>
                        <button class="btn btn-danger" type="button">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav style="margin-top: 12px;">
                <ul id="pagination-admin-project" class="pagination">
                    <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!--                EVENTS              -->
<div class="m-2">
    <div id="admin-event-container" class="container" style="border-style: solid;padding: 12px;">
        <div class="d-flex justify-content-between">
            <h3>All Events</h3>
            <button id="event-create-button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDashboard">Create Event</button>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-center flex-sm-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row">
            <div class="d-flex my-2 gap-2">
                <input id="searchInputEventAdmin" type="search" placeholder="event-slug" />
                <button id="searchButtonEventAdmin" class="btn btn-primary" type="button">Search Event</button>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div>
                    <label class="form-label">Sort by: </label>
                    <select>
                        <optgroup label="Sort">
                            <option value="12">Date</option>
                            <option value="13">Title</option>
                        </optgroup>
                    </select>
                </div>
                <div>
                    <label class="form-label">Show item: </label>
                    <select>
                        <optgroup label="This is a group">
                            <option value="12" selected>10</option>
                            <option value="13">20</option>
                            <option value="50">50</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="border-style: solid;margin-top: 0px;">
            <table class="table">
                <thead>
                <tr>
                    <th class="custom-width">Title</th>
                    <th class="custom-width">Date</th>
                    <th class="actions-column">Actions</th>
                </tr>
                </thead>
                <tbody id="admin-event-tablebody-list">
                <tr>
                    <td>Vaccine Village</td>
                    <td>January 25, 2003</td>
                    <td class="d-flex gap-2">
                        <button class="btn btn-primary" type="button">View</button>
                        <button class="btn btn-warning" type="button">Edit</button>
                        <button class="btn btn-danger" type="button">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav style="margin-top: 12px;">
                <ul id="pagination-admin-event" class="pagination">
                    <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>