<% if(locals.featuredProject) { %>
<div class="hero-index">
  <section class="py-4 py-xl-5">
    <div class="container">
      <div class="bg-dark border-0 border-dark overflow-hidden" style="border-radius: 24px;">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="text-white p-4 p-md-5">
              <h2 class="fw-bold text-white mb-3"><%= featuredProject.name %></h2>
              <p class="mb-4"><%= featuredProject.richDescription %></p>
              <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="#">Attend</a><a class="btn btn-light btn-lg" role="button" href="/project/<%= featuredProject.slug %>">Read More</a></div>
            </div>
          </div>
          <div class="col-md-6 order-first order-md-last" style="min-height:250px;"><img class="w-100 h-100 fit-cover featured-photo"></div>
        </div>
      </div>
    </div>
  </section>
</div>
<% } else { %>
<div>
  <section>
    <div class="container">
      <h1>There's no featured project...</h1>
    </div>
  </section>
</div>
<% } %>
<div>
  <div class="container">
    <h1 class="text-center" style="font-weight: bold;">GARBAGE COLLECTION</h1>
    <div>
      <p style="font-size: 22px;"><strong>Phase 1</strong></p>
    </div>
    <div>
      <p style="font-size: 22px;"><strong>Phase 2</strong></p>
    </div>
    <div>
      <p style="font-size: 22px;"><strong>Phase 3</strong></p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <% const phase3 = garbages.filter(garbage => garbage.phase === 3); %>
            <tr>
              <% phase3.forEach(day => { %>
              <th><%= day.pickUpDay.day %></th>
              <% }); %>
            </tr>
          </thead>
          <tbody>
            <% 
                // Find the maximum number of timeLocation entries across all days
                const maxTimeLocations = Math.max(...phase3.map(day => day.pickUpDay.timeLocation.length));
              %>
            <% for (let i = 0; i < maxTimeLocations; i++) { %>
            <tr>
              <% phase3.forEach(day => { %>
              <td>
                <% if (day.pickUpDay.timeLocation[i]) { %>
                <%= day.pickUpDay.timeLocation[i].time %> (<%= day.pickUpDay.timeLocation[i].street %>)
                <% } else { %>
                <!-- If no data for this row, leave the cell empty -->
                &nbsp;
                <% } %>
              </td>
              <% }); %>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>