<section>
    <div class="position-relative overflow-hidden" style="height: 600px;">
         <img
            src="/img/holiday-homes-banner.jpg"
            alt="Holiday Homes Banner"
            class="position-absolute w-100 h-100"
            style="object-fit: cover; object-position: center; z-index: 0;"
            fetchpriority="high"
            loading="eager"
        />
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(3, 100, 63, 0.5);z-index: 1;"></div>
        <div class="container h-100 position-relative" style="z-index: 2;">
            <div class="text-center text-md-start d-flex flex-column justify-content-center h-100" style="max-width: 500px;">
                <h1 class="text-uppercase fw-bold text-slate-50">Welcome to Holiday Homes</h1>
                <p class="fw-semibold my-3 text-slate-50">Simplify community living with powerful tools for homeowners and associations.</p>
                <p class="my-3 text-slate-200">Manage dues, reserve amenities, discuss projects, and stay updated — all in one seamless platform.</p>
            </div>
        </div>
    </div>
</section>

<!--    FEATURED PROJECT    -->
<% if(locals.featuredProject) { %>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="border rounded border-0 overflow-hidden bg-green-600">
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="text-white p-3 p-md-5">
                        <h2 class="fw-bold mb-3 text-slate-50"><%= featuredProject.name %></h2>
                        <p class="mb-4 text-slate-200">
                            <%= featuredProject.richDescription.slice(0, 200) %>
                            <%= featuredProject.richDescription.length > 200 ? '...' : '' %>
                        </p>
                        <div class="my-3">
                            <a class="btn me-2 bg-yellow-300 text-slate-600 fw-semibold" role="button" href="/projects/<%= featuredProject.slug %>" title="<%= featuredProject.slug %>">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-first order-lg-last">
                    <img class="w-100 h-100 object-fit-cover" src="<%= featuredProject.imageCover.signedUrl %>" alt="<%= featuredProject.name %>" />
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>

<!--    FEATURED EVENT  -->
<% if(locals.featuredEvent) { %>
<section class="featured-event py-4 py-xl-5">
    <div class="container">
        <div class="border rounded border-0 overflow-hidden bg-green-600">
            <div class="row g-0 flex-row-reverse">
                <div class="col-md-6">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold mb-3 text-slate-50"><%= featuredEvent.name %></h2>
                        <p class="mb-4 text-slate-200">
                            <%= featuredEvent.richDescription.slice(0, 200) %>
                            <%= featuredEvent.richDescription.length > 200 ? '...' : '' %>
                        </p>
                        <div class="my-3">
                            <a class="btn me-2 bg-yellow-300 text-slate-600 fw-semibold" role="button" href="#">Attend</a>
                            <a class="btn me-2 border border-yellow-300 text-yellow-300 text-button fw-semibold transition" role="button" href="/events/<%= featuredEvent.slug %>">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 order-first order-md-last">
                    <div style="height: 300px; overflow: hidden;">
                        <img class="w-100 h-100 object-fit-cover" src="<%= featuredEvent.imageCover.signedUrl %>" alt="<%= featuredEvent.slug %>" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>

<!--    GARBAGE COLLECTION  -->
<% if(locals.garbages) { %>
<section>
    <div class="container py-4 py-xl-5">
        <h1 class="text-center fw-bold mb-3 text-slate-900">GARBAGE COLLECTION</h1>
            <div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <% const phase3 = garbages.filter(garbage => garbage.phase === 3); %>
                    <tr>
                      <% phase3.forEach(gb => { %>
                      <th class="text-slate-900 fw-semibold"><%= gb.day %></th>
                      <% }); %>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                        // Find the maximum number of timeLocation entries across all days
                        const maxTimeLocations = Math.max(...phase3.map(day => day.timeLocation.length));
                      %>
                    <% for (let i = 0; i < maxTimeLocations; i++) { %>
                    <tr>
                      <% phase3.forEach(day => { %>
                      <td class="text-slate-600">
                        <% if (day.timeLocation[i]) { %>
                        <%= day.timeLocation[i].time %> (<%= day.timeLocation[i].street %>)
                        <% } else { %>
                        <!-- If no data for this row, leave the cell empty -->
                        &nbsp;
                        <% } %>
                      </td>
                      <% }); %>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<% } else { %>
<section>
    <div class="container text-center">
        <p class="text-mute">There's no garbage collection schedule😟</p>
    </div>
</section>
<% } %>