<div>
  <% if(locals.featuredProject) { %>
  <div class="container">
    <section class="py-4 py-xl-5">
      <div class="container">
        <h1>Featured Project</h1>
        <div class="bg-dark border-0 border-dark border overflow-hidden" style="border-radius: 24px;">
          <div class="row g-0">
            <div class="col-lg-6 ">
              <div class="text-white p-4 p-md-5">
                <h2 class="fw-bold text-white mb-3"><%= featuredProject.name %></h2>
                <p class="mb-4"><%= featuredProject.richDescription %></p>
                <div class="my-3"></div><a class="btn btn-light btn-lg" role="button" href="/project/<%= featuredProject.slug %>">Read More</a>
              </div>
            </div>
            <div class="col-lg-6  order-first order-lg-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="<%= featuredProject.imageCoverUrl %>" /></div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <% } else { %>
    <section class="py-4 py-xl-5">
      <div class="container">
        <h1>No Featured Project</h1>
      </div>
    </section>
  <% } %>
</div>
<div class="project-list">
  <div class="container">
    <h1>Other Project</h1>
    <div class="row gx-4 gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3">
      <% projects.forEach(project => { %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><%= project.name%> </h4>
              <p class="card-text"><%= project.richDescription.slice(0, 100) %>...</p><img class="object-fit-cover" src="<%= project.imageCoverUrl%>" width="100%" height="200" /><a class="card-link" href="/project/<%= project.slug %>">Read More</a>
            </div>
          </div>
        </div>
      <% }); %>

    </div>
    <nav style="margin-top: 12px;">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
      </ul>
    </nav>
  </div>
</div>