
<% if(locals.featuredEvent) { %>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="border rounded border-0 overflow-hidden bg-green-600">
            <div class="row g-0">
                <div class="col-lg-6 ">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold text-white"><%= featuredEvent.name %></h2>
                        <% const date = new Date(featuredEvent.date); %>
                        <% const finalDate = new Intl.DateTimeFormat('en-US', {
                            year: 'numeric',
                            month: 'long',
                            day: '2-digit',
                            hour: '2-digit',
                            minute: '2-digit',
                            second: '2-digit'
                        }).format(date) %>
                        <p class="mb-3" style="color: #adb5bd;"><%= featuredEvent.place %> (<%= finalDate %>)</p>
                        <p class="mb-3"><%= featuredEvent.richDescription %></p>
                        <div class="my-3">
                            <% if(locals.user) { %>
                                <a class="btn btn-primary btn-lg me-2" role="button" href="#">Attend</a>
                            <% } %>
                            <a class="btn btn-light btn-lg" role="button" href="/events/<%= featuredEvent.slug %>">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  order-first order-lg-last" style="min-height: 250px;">
                    <% if (featuredEvent.imageCover?.signedUrl) { %>
                        <img class="w-100 h-100 fit-cover" src="<%= featuredEvent.imageCover.signedUrl %>" alt="<%= featuredEvent.name %>"/>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>
<div class="event-list">
    <div class="container">
        <h1 class="fs-4 text-slate-900"><%= featuredEvent ? 'Other Events' : 'Events' %></h1>
        <div class="row gx-4 gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3" id="event-list-container">
            <h2 class="text-slate-700 fs-6">Events...</h2>
        </div>
        <nav style="margin-top: 12px;">
              <ul id="event-list-pagination" class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a>
                </li>
              </ul>
        </nav>
    </div>
</div>