
<% if(locals.featuredEvent) { %>
<section class="featured-event py-4 py-xl-5">
    <div class="container">
        <div class="border rounded border-0 overflow-hidden bg-green-600">
            <div class="row g-0 flex-row-reverse">
                <div class="col-md-6">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold mb-3 text-slate-50"><%= featuredEvent.name %></h2>
                        <p class="mb-4 text-slate-50">
                            <%= featuredEvent.richDescription.slice(0, 200) %>
                            <%= featuredEvent.richDescription.length > 200 ? '...' : '' %>
                        </p>
                        <div class="my-3">
                            <% if(locals.user) { %>
                            <a id="attendEventIndex" class="btn me-2 bg-yellow-300 text-slate-600 fw-semibold attend-button" role="button" href="#">Attend</a>
                            <% } %>
                            <a class="btn me-2 border border-yellow-300 text-yellow-300 text-button fw-semibold transition" role="button" href="/events/<%= featuredEvent.slug %>">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 order-first order-md-last">
                    <div style="height: 300px; overflow: hidden;">
                        <img class="w-100 h-100 object-fit-cover" src="<%= featuredEvent.imageCover.signedUrl %>" alt="<%= featuredEvent.slug %>" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>
<div class="event-list">
    <div class="container">
        <h1 class="fs-4 text-slate-900"><%= featuredEvent ? 'Other Events' : 'Events' %></h1>
        <div class="row gx-4 gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3" id="event-list-container">
            <h2 class="text-slate-700 fs-6">Events...</h2>
        </div>
        <nav style="margin-top: 12px;">
              <ul id="event-list-pagination" class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a>
                </li>
              </ul>
        </nav>
    </div>
</div>